{
    "env": {
        "browser": true,
        "node": true, // Enable Node.js global variables
        // "commonjs": true,
        "es2021": true,
        "es6": true,
        "jest": true
    },
    "plugins": ["@typescript-eslint"],
    
    "extends": ["eslint:recommended", "plugin:prettier/recommended",
        "airbnb-base",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",

        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
        ],
        
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest", // Allows the use of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "project": "**/tsconfig.json" // tsconfig 파일 못 찾는 에러 해결
    },
    // "overrides": [
    //     {
    //         "files": ["*.ts", "*.tsx"],
    //         "parserOptions": {
    //             "project": ["tsconfig.eslint.json"]
    //         }
    //     }
    // ],
    "rules": {
        "indent": ["warn", 2, { "SwitchCase": 1 }],
        "no-console": "warn",
        "quotes": ["warn", "double"],
        "no-unused-vars": "warn",
        "object-curly-newline": "warn",
        "consistent-return": "off",
        "no-return-await": "off",
        "no-await-in-loop": "off", // 루프 안에서 비동기 수행 시 순서대로 작업. 병렬X

        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/no-unsafe-assignment": "warn",
        "@typescript-eslint/no-unsafe-call": "warn",
        "@typescript-eslint/no-unsafe-return": "warn",

        // override Airbnb's preset // except "ForOfStatement" from following syntax list
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],

        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
        ],


        //* Avoid Bugs
        "no-undef": "error",
        "semi": "error",
        "semi-spacing": "error",
        "linebreak-style":"off",
        "prettier/prettier":"off"
        
        // //* Best Practices
        // "eqeqeq": "warn",
        // "no-invalid-this": "error",
        // "no-return-assign": "error",
        // "no-unused-expressions": ["error", { "allowTernary": true }],
        // "no-useless-concat": "error",
        // "no-useless-return": "error",
        // "no-constant-condition": "warn",
        // "no-unused-vars": ["warn", { "argsIgnorePattern": "req|res|next|__" }],
        // //* Enhance Readability
        // "indent": ["error", 2, { "SwitchCase": 1 }],
        // "no-mixed-spaces-and-tabs": "warn",
        // "space-before-blocks": "error",
        // "space-in-parens": "error",
        // "space-infix-ops": "error",
        // "space-unary-ops": "error",
        // "quotes": ["error", "double"],
        // //
        // "max-len": ["error", { "code": 200 }],
        // "max-lines": ["error", { "max": 500 }],
        // "keyword-spacing": "error",
        // "multiline-ternary": ["error", "never"],
        // "no-mixed-operators": "error",
        // //
        // "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
        // "no-whitespace-before-property": "error",
        // "nonblock-statement-body-position": "error",
        // "object-property-newline": [
        //   "error",
        //   { "allowAllPropertiesOnSameLine": true }
        // ],
        // //* ES6
        // "arrow-spacing": "error",
        // "no-confusing-arrow": "error",
        // "no-duplicate-imports": "error",
        // "no-var": "error",
        // "object-shorthand": "off",
        // "prefer-const": "error",
        // "prefer-template": "warn"
    }
}
